@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@mdi/font/css/materialdesignicons.css";

.spacediv:after {
    content: '.';
    visibility: hidden;
}

.plus-icon::before {
    content: "\002B"; /* Unicode character for plus sign */
    font-family: "Material Design Icons";
    font-size: inherit;
    line-height: inherit;
}

.title {
    color: #444444;
    font-weight: bold;
}

.description {
    color: #747E86;
}

.knockoff {
    color: #747E86;
    text-decoration: line-through;
}